h1{
    color:rgb(240, 152, 125);
    border: 2px solid;
    border-radius:10px;
    font-size:200px; 
}

p{
    background-color:rgb(172, 209, 241);
    font-family: "Bebas Neue", sans-serif;;
}

img{
    height:150px;
    width:150px;
}

ol{
    border:4px;
    background-color:aquamarine;
}
.images{
    height:150px;
    width:150px;
}
.button{
    color:rgb(255, 103, 103);
    padding:10px 20px;
    background-color:beige;
    text-decoration:none;
}
.button:hover{
    background-color: rgb(136, 218, 243);
}
navbar{
    background-color: aquamarine;
    padding:20px 20px;
    display:flex;
}
