.item{
    width:25px; 
    height:25px;
    background-color:rgb(225, 225, 128);
    border-radius:10px;
    text-align:center;
    padding:20px;
}
.container{
    border:10px solid black;
    display:flex;
    justify-content:flex-end;
    flex-direction:row-reverse;
    justify-content:space-between;
    flex-wrap:wrap;
}
#item-one{
    flex-grow:2;
    flex-basis:60px;
}